@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.coinable-pay-button {
    transition: 150ms ease-in-out;
    height: 48px;
    font-size: 18px;
    font-family: 'Inter';
    border: none;
    background: black;  
    color: white;
    border-radius: 5px;
    padding-left: 45px;
    padding-right: 45px;
    cursor: pointer;

    &:hover {
        background: rgb(40, 40, 40);
    }

    &:disabled {
        background: rgb(40, 40, 40);
        cursor: not-allowed;
    }
}

.coinable-pay-button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}


@keyframes coinablerotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.coinable-spinner {
    width: 24px;
    height: 24px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: coinablerotation 1.3s linear infinite;
}